html
    
    body
        h1(align="center") #{message}
        form(action="/addpost" method="post")
            table(align="center")
                tr
                    td

                        input(
                            type='text'
                            name='student'
                            placeholder='Students Name'
                        )
                tr
                    td
                        select( id="sel")